$btnDefaultGap: 15px;
$btnHeight: 42px;
$btnMiniHeight: 1.9;
$btnFontSize: 18px;
$btnFontColor: #fff;
$btnDisabledFontColor: rgba(255,255,255,.6);
$btnActiveFontColor: rgba(255,255,255,.4);
$btnMiniFontSize: 14px;
$btnborderRadius: 5px;

$btnDefaultBg: #f7f7f7;
$btnDefaultActiveBg: #dedede;
$btnDefaultFontColor: #454545;
$btnDefaultDisabledFontColor: #c9c9c9;
$btnDefaultActiveFontColor: #a1a1a1;

$btnPrimaryBg: #04be02;
$btnprimaryActiveBg: #039702;

$btnWarnBg: #ef4f4f;
$btnWarnActiveBg: #c13e3e;
